.Helper{
    position: absolute;
    margin-top: -16rem;
}
.Helper>h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(35, 17, 89);
}