*{
    margin: 0;
    padding: 0;
    
}
.SignUp-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 187, 0);
    height: 100vh;
    width: 100%;
}

.NavLink{
    text-decoration: none;
}