.Appointment-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: rgb(212,210,210,49%);
}
.Appointment-container1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 32rem;
    width: 32rem;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}
.Appointment-container1>h1{
    color: rgb(53 74 203 / 87%);
}
.Appointment-form-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.inputBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inputBox>input{
    height: 2rem;
    width: 16rem;
    margin-top: 1rem;
    border-radius: 8px;
    padding-left: 8px;
}
#udit{
    height: 2rem;
    width: 17rem;
    margin-top: 1rem;
    border-radius: 8px;
    padding-left: 8px;
    margin-bottom: 0.5rem;
}
#textarea{
    height: 5rem;
    width: 16rem;
    margin-top: 1rem;
    border-radius: 13px;
    padding-left: 8px;
}


/**********************Blood Donation********************************/
.Blooddonation-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: rgb(212,210,210,49%);
}

.Blooddonation-container1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 32rem;
    width: 60rem;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}
.Blooddonation-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 32rem;
    width: 30rem;
}
.Blooddonation-form-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 32rem;
    width: 30rem;
}
.Blooddonation-img>img{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    height: 24rem;
    width: 30rem;
    margin-top: 2rem;
}
.Blooddonation-img-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 8rem;
    width: 30rem;
    
}
.Blooddonation-NavLink{
    font-weight: bold;
    margin-top: -3rem;
}
.Blooddonation-form-2>h1{
    color: rgb(53 74 203 / 87%);
}

/**************************BMI**********************************/
.BMI-container {
    background-color: rgb(228, 228, 235);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    
}
.BMI-panel {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    height: 25rem;
    width: 30rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}
.BMI-inputBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: 18rem;
    
}
.BMI-result{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30rem;
    height: 7rem;
}
.BMI-inputBox>h2 {
    margin-bottom: 10px;
    margin-top: 20px;
}

.BMI-inputBox>input {
    height: 2rem;
    width: 16rem;
    margin-top: 1rem;
    border-radius: 8px;
    padding-left: 8px;
}

.BMI-text-center{
    color: rgb(53 74 203 / 87%);
}
#BMI-submit{
    margin-top: 2rem;
}

/* ***************contact us********************* */
.ContactUs-Card{
    /* margin: 1rem; */
    height: 100vh;
    background-color:rgb(228, 228, 235) ;
    display: flex;
    justify-content: center;
}
.Contact-Cards{
    margin: 1rem;
}

/* media query for small laptop */
@media only screen  and (min-width: 1024px)  {
    .Blooddonation-container1{
        transform: scale(0.8);
    }

    .Appointment-container1{
        transform: scale(0.85);
    }
}